/* line 18, ../sass/example.scss */
body col1 {
  width: 20%;
}
/* line 18, ../sass/example.scss */
body col2 {
  width: 40%;
}
/* line 18, ../sass/example.scss */
body col3 {
  width: 60%;
}
/* line 18, ../sass/example.scss */
body col4 {
  width: 80%;
}
/* line 18, ../sass/example.scss */
body col5 {
  width: 100%;
}
