/* line 6, ../sass/mixin.scss */
body {
  color: red;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
}

/* line 17, ../sass/mixin.scss */
.shadows {
  -moz-box-shadow: 2px 3px 3px #fff, 2px 6px 10px #eee;
  -webkit-box-shadow: 2px 3px 3px #fff, 2px 6px 10px #eee;
  box-shadow: 2px 3px 3px #fff, 2px 6px 10px #eee;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  font-size: 12px;
}
