.index{
  padding-top: 48px;
  background: #fff;

  %col6-cell{
    width: span(6);
    text-align: left;
    display: table-cell;
    vertical-align: middle;

    @include breakpoint($screen-xs){
      width: span(12);
      display: block;
    }
  }

  .content{
    padding: 0 16px 48px;
  }

  .hero-image{
    @extend %col6-cell;
    @extend %fill-img;
  }
  .introduction{
    @extend %col6-cell;
    padding-left: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #699;
  }
}